body {

font-family: "Work Sans", sans-serif;

}


header {

    position: absolute;
    top: 0;
    right: 1px;
    font-size: 18px;
    color:black;
    background-color: rgb(251, 251, 251);
    font-family:"Poppins", sans-serif;
    
}


nav a {
    padding: 8px;
    color:black;
    text-decoration:none;
   }


   #btn_date {

    border-radius: 25px;
    background-color: rgba(71, 70, 70, 0.045);
    color:rgba(241, 236, 236, 0.986);
    font-weight: bolder;
    /*opacity: 40%;*/
    position: absolute;
    top:275px;
    left:150px;


   }



#banniere{

  width: 1350px;
  height: 550px;
  position: absolute;
  left: 80px;
  top: 70px;
  z-index: -1;

}

#salon, #stand, #pl_sal, #Tt_Actu, #billeterie2 {


    color: white;
    background-color: rgb(139, 16, 16);
    border-radius: 25px ;
    padding: 15px;
    font-weight: bold;


}

#pl_sal{
position: relative;
top:50px;
left: 50px;
}

#billeterie, #expo {


    color: rgb(139, 16, 16);;
    background-color: white;
    border-radius: 25px ;
    padding: 15px;
    font-weight: bold;

}

#rassemblement {

    position: absolute;

    left: 590px ;
    top: 700px;
    width: 25%;
}



#sal_vin {

    position: absolute;
    left: 150px;
    top: 280px;
    color: white ;
}

 #fruits {

    width: 1350px;
    height: 350px;
    position: absolute;
    left: 80px;
    top: 1170px;
    z-index: -1;


 }

 .fruitstext {

  position: absolute;
  top:1250px;
  left: 90px; 
  display: flex;
   flex-direction: row;
   color: white;
   width: 88%;

  
 }
 

  #Rasse {

    position: absolute;
    top: 650px;
    left: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 430px;
    height: 470px;
     
  }
  #Rasse2 {

    position: absolute;
    top: 650px;
    left: 1150px;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 450px;
  }

  #flex_img {

    position: absolute;
    top: 1700px;
    left: 150px;
    width: 430px;
    height: 470px;
     
  }
  #flex_img2 {

    position: absolute;
    top: 1715px;
    left: 1150px;
    width: 300px;
    height: 450px;
  }
 
   #prev {
    font-size: 25px;
    position: relative;
    right: 1280px;
    top: 70px;


   }

   #next {

    font-size: 25px;
    position: relative;
    top: 70px;
   }
 
/*#salon2 {

    color: white;
    background-color: rgb(139, 16, 16);
    border-radius: 25px ;
    padding: 15px;
    font-weight: bolder;

} */

.tour_france {
 
  position: absolute;
  top: 1560px;
  left: 150px;


}

.rdv {

    position: absolute; 
    top: 1700px;
    left: 600px;
    width: 500px;

}

.Blog {

   position: absolute;
   display:flex;
   flex-direction: row;
   top: 2350px;
   left: 50px;
  

}

#blog_title {

  font-size: 20px;
  position: relative;
  bottom:120px;
  color: rgb(139, 16, 16);
  font-family:"Work Sans", sans-serif;
}

#blog_text {

  font-size: 39px;
  position: relative;
  bottom: 95px;
  right: 75px;
  font-family:"Work Sans", sans-serif;
}


.actu {

  position: absolute;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1500px;


}

#actu1, #actu2, #actu3, 
#actu4 {

  width: 290px;
  height: 180px;

} 

#fake {

  color:rgb(122, 24, 24);
  text-decoration: underline;

}

.newsletter {

  position: absolute;
   top: 2885px;
   left:650px;
   width: 50%;
   color:white;
 

}

#Tt_Actu
{
 position: relative;
 top: 350px;
 right: 665px;
 height: 45px;


}
 
#fruits2 {

  width: 1350px;
  height: 350px;
  position: absolute;
  left: 90px;
  top: 2800px;
  z-index: -1;


}


#taf_sal {

  position: absolute;
  top: 3285px;
  left: 150px;
  width: 570px;
  height: 550px;


}

#sal_taf {

  position: absolute;
  top: 3200px;
  left: 1200px;
  width: 230px;
  height: 230px;

}

.Inf_salon {

  position: absolute;
  top: 3250px;
  left: 835px;

}

#rdv {
  width: 32%; 
  font-size: larger;
  
}

tr,td {

  border: 1px dashed black
}

.text_footer {

  color:white !important; 
  /* Le problème vient des liens a, qui ont couleur noir.
      La priorité n'a pas l'air de marcher*/
}


.info  {
  

  position: absolute;
  top: 3900px;

}


#carte  {

  position: relative;
  width: 85%;
  left: 100px;


}


#black_background  {
 
    background-color: rgb(33, 32, 32);
    color:white;
    width: 480px;
    height: 480px;
    position: inherit; /*Relatie grand scroll*/
    bottom:1px;
    left: 900px;
  
}

#text_Hall {

  position: relative;
  top: 50px;
}

#inf_pra {

  position: relative;
  top: 45px;  
  left:80px;
  font-family:"Poppins", sans-serif;
  font-size: 15px;
}

#com_ven {

  font-size: 35px;
  font-family:"Work Sans", sans-serif;
  color:white;
  position: relative;
  left: 80px;
  top: 50px;

}
footer {

position: absolute;
top: 4500px;
background-color: rgb(122, 24, 24); /* Ce n'est pas le bon rouge, je doute être pénalisé dessus
mais ne pouvant pas le récupérer depuis la maquette c'est plus compliqué, j'ai pris celui qui y ressemblait le plus  */
padding: 8px;
width: 99%;
font-size: 13px;
color: white;
font-family:"Poppins", sans-serif;
}