header {

    position: absolute;
    top: 0;
    right: 1px;
    font-size: 18px;
    color:black;
}


nav a {
    padding: 8px;
    color:black;
    text-decoration:none;
   }


   #btn_date {

    border-radius: 25px;
    background-color: rgba(116, 113, 113, 0.099);
    color:rgba(216, 213, 213, 0.788);
    font-weight: bolder;
    /*opacity: 40%;*/
    position: absolute;
    top:275px;
    left:150px;

   }



#banniere{

  width: 1350px;
  height: 550px;
  position: absolute;
  left: 80px;
  top: 70px;
  z-index: -1;

}

#salon, #stand {


    color: white;
    background-color: rgb(139, 16, 16);
    border-radius: 25px ;
    padding: 15px;
    font-weight: bold;


}

#billeterie, #expo {


    color: rgb(139, 16, 16);;
    background-color: white;
    border-radius: 25px ;
    padding: 15px;
    font-weight: bold;

}

#rassemblement {

    position: absolute;

    left: 590px ;
    top: 700px;
    width: 25%;
}



#sal_vin {

    position: absolute;
    left: 150px;
    top: 280px;
    color: white ;
}

 #fruits {

    width: 1350px;
    height: 350px;
    position: absolute;
    left: 80px;
    top: 1170px;
    z-index: -1;


 }

  #Rasse {

    position: absolute;
    top: 650px;
    left: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 430px;
    height: 470px;
     
  }
  #Rasse2 {

    position: absolute;
    top: 650px;
    left: 1150px;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    height: 450px;
  }

  #flex_img {

    position: absolute;
    top: 2000px;
    left: 150px;
    width: 430px;
    height: 470px;
     
  }
  #flex_img2 {

    position: absolute;
    top: 2000px;
    left: 1150px;
    width: 300px;
    height: 450px;
  }
 
 
/*#salon2 {

    color: white;
    background-color: rgb(139, 16, 16);
    border-radius: 25px ;
    padding: 15px;
    font-weight: bolder;

} */

.tour_france {
 



}

.rdv {

    position: absolute; 
    top: 2000px;
    left: 600px;
    width: 500px;

}

.Blog {

   position: absolute;
   display:flex;
   flex-direction: row;
   top: 2500px;
   left: 500 px;


}

.actu {

  position: absolute;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1500px;


}



#fruits2 {

  width: 1350px;
  height: 350px;
  position: absolute;
  left: 80px;
  top: 2770px;
  z-index: -1;


}

#taf_sal {

  position: absolute;
  top: 3285px;
  left: 150px;
  width: 570px;
  height: 550px;


}

#sal_taf {

  position: absolute;
  top: 3200px;
  left: 1200px;
  width: 230px;
  height: 230px;

}

footer {

position: absolute;
top: 3900px;

}